header {
  background-color: coral;
}
.links {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 6px;
  
}
.cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100vh;
}
.todo {
  margin-top: 15px;
  border: solid 2px black;
  padding: 15px;
  justify-self: center;
  width: 50%;
  border-radius: 5px;
  cursor: pointer;
}
.complete {
  text-decoration: line-through;
  background-color: crimson;
  color: aliceblue;
}
.incomplete {
  background-color: aqua;
  color: black;
}